node_modules/**/*
.expo/*
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/
web-report/

# macOS
.DS_Store
/backend/auth.ini
/backend/sproject-3697d-firebase-adminsdk-smiiq-ea6aea6b5c.json
/backend/dataset
